<div class="container">
  <div class="row ">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" class="nav-item"><a class='nav-link' routerLinkActive='active'
            [routerLinkActiveOptions]='{exact: true}' routerLink='/'>Home</a>
          <!-- el objeto con la propiedad exact le dice a angular que agregue la clase active al link activo que es exactamente el mismo que indica el routerLink (localhost:4200/) -->
          <!-- routerLink especifica la ruta que debe manejar cada uno de los links -->
        </li>
        <li role="presentation" class="nav-item"><a class='nav-link' routerLinkActive='active' routerLink='/servers'
            [routerLinkActiveOptions]='{exact: true}'>Servers</a></li>
        <li role="presentation" class="nav-item"><a class='nav-link' routerLinkActive='active' routerLink='/users'
            [routerLinkActiveOptions]='{exact: true}'>Users</a></li>
      </ul>
    </div>
  </div>

  <!-- router-outlet es una directiva que renderiza un componente dependiendo la ruta que indiquemos -->
  <!-- Ejemplo localhost:4200/ => HomeComponent -->
  <!-- Ejemplo localhost:4200/users => UsersComponent -->
  <!-- Ejemplo localhost:4200/servers => ServersComponent -->
  <!-- Las rutas se configuran en el app.module. Se debe importar el RouterModule al array de imports y ejecutar el metodo forRoot(arrayDeRutas) -->

  <router-outlet></router-outlet>
</div>
